<footer
  class="py-12 text-center text-cream-primary bg-main-bg font-bold flex flex-col justify-center items-center gap-5"
>
  <div
    class=" text-2xl md:text-4xl flex items-center justify-center gap-x-3 transition-all duration-300"
  >
    <a href=""><i class="fa-brands fa-instagram hover"></i></a>
    <a href=""><i class="fa-brands fa-facebook hover"></i></a>
    <a href=""><i class="fa-brands fa-x-twitter hover"></i></a>
    <a href=""><i class="fa-brands fa-tiktok hover"></i></a>
  </div>
  <p><a href="#" class="font-bold text-3xl tracking-wide"> Let's Movies </a></p>
  <p>
    © 2024 <span class="text-icons">Let's movies</span>. All rights reserved.
  </p>
</footer>
